.btn-outline-cus-tab {
  border: 1px solid #000;
  position: relative;
  transition: 0s;
  z-index: 1;
  &:hover {
    border-top: transparent;
    border-bottom: transparent;
    border-left: 1px solid var(--bs-secondary);
  }
  &::before {
    content: '';
    background: #000;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 4px;
    z-index: 10;
  }
  &:hover::before{
    background: var(--bs-secondary);
  }
}
.btn-primary {
  // --bs-btn-hover-color 使用狀態變數修改就需要使用 var 呼叫變數
  --bs-btn-hover-color: var(--bs-secondary);
}
.btn-outline-primary:hover {
  // 直接覆蓋預設顏色就可以直接取用變數
  color: $secondary;
}
.btn:disabled {
  color: #EBEAE3;
  background-color: #9A9A9A;
  border-color: #9A9A9A;
}