<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <h1 class="index-title text-black">我是首頁</h1>
    <p class="fs-6 fs-md-1 cursor-pointer">這是一段點變大小的文字</p>
    
    <div class="container">
      <p><a class="link-opacity-10" href="#">Link opacity 10</a></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, eos!</p>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-primary" href="#" role="button" disabled>Link</button>
      <div class="d-flex flex-wrap">
        <button class="btn btn-outline-cus-tab me-1 mb-1">科技</button><button class="btn btn-outline-cus-tab me-1 mb-1">科技</button><button class="btn btn-outline-cus-tab me-1 mb-1">科</button><button class="btn btn-outline-cus-tab me-1 mb-1">科技</button><button class="btn btn-outline-cus-tab me-1 mb-1">科技</button><button class="btn btn-outline-cus-tab me-1 mb-1">科技</button><button class="btn btn-outline-cus-tab me-1 mb-1">科技</button><button class="btn btn-outline-cus-tab me-1 mb-1">科技我</button><button class="btn btn-outline-cus-tab me-1 mb-1">科技</button><button class="btn btn-outline-cus-tab me-1 mb-1">科技苦苦</button><button class="btn btn-outline-cus-tab me-1 mb-1">科技</button><button class="btn btn-outline-cus-tab me-1 mb-1">科技</button><button class="btn btn-outline-cus-tab me-1 mb-1">科技</button><button class="btn btn-outline-cus-tab me-1 mb-1">科技</button><button class="btn btn-outline-cus-tab me-1 mb-1">科技我雅</button><button class="btn btn-outline-cus-tab me-1 mb-1">科技</button>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination mt-3">
          <li class="page-item me-1">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item me-1"><a class="page-link" href="#">1</a></li>
          <li class="page-item me-1"><a class="page-link" href="#">2</a></li>
          <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
